@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

body {
  background-color: #2b1464;
  text-align: center;
  color: white;
  font-family: "Fredoka", sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 50px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
  font-size: 20px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #fada06;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

img {
  margin-top: 30px;
  width: 15%;
  position: absolute;
  top: 10px;
  right: 50px;
}
